App{
  /* border: 1px solid white; */
  background-color: aqua;
}
.rsm-geography {
  border: 1px solid red;
}
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: lightgray;
}
.description{
  display: flex;
  align-items: center;
  justify-self: center;
  right: 25%;
  /* position: fixed; */
  bottom: 0;
  /* transform: translateX(120px); */
  font-size: 15px;
  width:95%;
  padding: 10px;
}
.infoBtn{
  position: fixed;
  top: 25px;
  right: 25px;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.modal{
  display: flex;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 0; */
  vertical-align: middle;
  background-color: lightblue;
  border: 1px solid black;
  width: 80vh;
}
.mapContainer{
display: flex;
top: 10%;
left: 25%;
position: fixed;
justify-items: center;
}
.controls {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 1.25rem 0;
  text-align: center;
  transform: translateX(-50%);
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* height: 2rem; */
  width: 3rem;
  /* background: #ff5533; */
  /* color: #fff; */
  /* border-radius: 100%; */
  border: 0;
}
.controls > button:first-child {
  margin-right: 0.25rem;
}
text{
  user-select: none;
  font-size: larger;
}
.infoTab{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20%;
  left: 0;
  height: 100px;
  width: 100vw;
}
h5{
  padding: 0;
  margin: 10px;
}
h6{
  padding: 0;
  margin: 10px;
}
 /*Any Mobile Device*/
 @media only screen and (max-width: 767px) { }
 .mapContainer{
  display: flex;
  top: 5%;
  left: 5%;
  padding-top: 15px;
  width:95%;
  position: fixed;
  justify-items: center;
  }
  .infoTab{
    display: flex;
  flex-direction: column;
  left: 0;
  height: 200px;
  width: 100vw;
  }
  .infoBtn{
    position: fixed;
    margin: 5%;
    /* transform: translateY(-50px); */
    top: 0;
    right: 15px;
  }
 /*Tablets Device*/
@media only screen and (max-width: 991px) { }
 /*ipad Pro  Device*/
 .mapContainer{
  display: flex;
  top: 5%;
  left: calc(5% - 10px);
  padding: 0;
  margin: 0;
  padding-top: 5px;
  width:90%;
  position: fixed;
  justify-items: center;
  }
  .infoTab{
    display: flex;
  flex-direction: column;
  bottom: 35%;
  right: 15px;
  height: 200px;
  width: 100vw;
  }
@media only screen and (max-width: 1024px) { }
 /*large  Device*/
 /*ipad Pro  Device*/
 .mapContainer{
  display: flex;
  top: 5%;
  left: calc(5% - 10px);
  padding: 0;
  margin: 0;
  padding-top: 5px;
  width:90%;
  justify-items: center;
  }
  .infoTab{
    display: flex;
  flex-direction: column;
  bottom: 48%;
  right: 15px;
  height: 200px;
  width: 100vw;
  }
@media only screen and (max-width: 1200px) { }
.mapContainer{
  display: flex;
  top: 10%;
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  }
.infoTab{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20%;
  left: 0;
  height: 100px;
  width: 100vw;
}
.infoBtn{
  position: fixed;
  margin: 5%;
  margin-top: 15px;
  top: 0;
  right: 15px;
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
  .mapContainer{
    display: flex;
    top: 5%;
    left: 2%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-top: 15px;
    width:93%;
    position: fixed;
    justify-items: center;
    }
    .infoTab{
      display: flex;
      flex-direction: column;
      position: fixed;
      bottom: 50%;
      left: 0;
      height: 100px;
      width: 100vw;
    }
    .infoBtn{
      position: fixed;
      margin: 5%;
      /* transform: translateY(-50px); */
      top: 0;
      right: 15px;
    }
}
@media only screen and (max-width: 400px){
  .infoTab{
    bottom: 40%;
  }
}