App{
  /* border: 1px solid white; */
  background-color: aqua;
}
.rsm-geography {
  border: 1px solid red;
}
html {
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  border: none;
}
.description{
  font-size: 5px;
}
.infoBtn{
  position: fixed;
  top: 25px;
  right: 25px;
}
body {
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.modal{
  display: flex;
}
svg {
  display: inline-block;
  vertical-align: middle;
  background-color: aqua;
  border: 1px solid black;
  width: 80vh;
}

.controls {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 1.25rem 0;
  text-align: center;
  transform: translateX(-50%);
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #ff5533;
  color: #fff;
  border-radius: 100%;
  border: 0;
}
.controls > button:first-child {
  margin-right: 0.25rem;
}